doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href= "/css/main.min.css", type="text/css")
        meta(name="viewport", content="width-device-width, initial-scale=1")
        meta(name="theme-color", content="#188bee")
        link(rel="stylesheet", href= "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", type="text/css")
    body
        include sidebar.jade
        main
            div.topBar
                div.top
                    span.mainTitle 
                        i C
                        span Categories 
            div.content
                ul.categoryList
                    each category in s.categories
                        li
                            a(href="/app/category?c=" + category._id)
                                span.short= category.shortened
                                span.name= category.name
                                span.padding
                                span.num-badge= category.words
                    li
                        a(href="/app/category/new")
                            span.short
                                i(class="fa fa-fw fa-plus")
                            span.name
                                b Add new
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.js")
        script(src="/js/dropdown.js")
        script(src="/js/sidebar.js")
