doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport", content="width-device-width, initial-scale=1")
        link(rel="stylesheet", href= "/assetspb" + constants.URL + "/css/main.min.css", type="text/css")
        link(rel="stylesheet", href= "https://use.fontawesome.com/1b61713aa1.css", type="text/css")
        link(rel="icon", type="image/x-icon", href="/assets/favicon.png")
    body.loginPage.logReg
        nav
            a(href=constants.URL)
                i.fa.fa-fw.fa-chevron-left
                span Back home
            div
                span Not a member?
                a(href="register") Sign up
        main.noSidebar
            div.loginBlock
                div.formTitle
                    div.logo
                        include /var/www/html/assets/logo-col.svg
                    //- img(src="https://dcatcher.me/assets/logo-col.svg" alt="Phrasebook logo").logo
                form.glass-form.login-form(method="post", action="login")
                    if error
                        div.errorMessage
                            i.fa.fa-fw.fa-exclamation
                            span= error
                    div.loginContainer
                        label Username
                        input(type='text', placeholder='', name='username', id="username").login
                    div.loginContainer
                        label Password
                        input(type='password', placeholder='', name='password', id="password").login
                    input(type='submit', class='glass-btn', value="Login", id="loginButton")

            // h2 Hello world!
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js")
        script(src="/assetspb" + constants.URL + "/js/dropdown.js")
        script(src="/assetspb" + constants.URL + "/js/labels.js")
