doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport", content="width-device-width, initial-scale=1")
        link(rel="stylesheet", href= "/assetspb" + constants.URL + "/css/index.min.css", type="text/css")
        link(rel="stylesheet", href= "https://use.fontawesome.com/1b61713aa1.css", type="text/css")
        link(rel="icon", type="image/x-icon", href="/assets/favicon.png")
    body.mainPage
        nav.nav
            div.navLogo
                img.logo(src="https://dcatcher.me/assets/logo-notext-white.svg")
                span Phrasebook
            div.bg
                div.links
                    a(href=constants.URL +"../login") Get Started
        div.header
        header
            a(href=constants.URL + "/login").mainButton Get Started
        main(style="height: 200vh")


        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js")
        script(src="/assetspb" + constants.URL + "/js/dropdown.js")
        script(type="text/javascript").
            console.log($(".nav").outerHeight());
            var header = $('header').height() - $(".nav").outerHeight() ;

            $(window).on('scroll', function() {
                var cur = $(window).scrollTop();
                if (cur > header) {
                    $(".nav").addClass("beyond");
                    $(".logo").attr("src", "https://dcatcher.me/assets/logo-notext.svg");
                } else {
                    $(".nav").removeClass("beyond");
                    $(".logo").attr("src", "https://dcatcher.me/assets/logo-notext-white.svg");
                }
            });
